services:
  db:
    image: mysql:8.0.32
    platform: linux/arm64/v8
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: myapp_development
      MYSQL_USER: user
      MYSQL_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  rails:
    platform: linux/arm64/v8
    build:
      context: ./rails
      dockerfile: Dockerfile
    command: bash -c "tail -f log/development.log"
    volumes:
      - ./rails:/myapp
    ports:
      - 3000:3000
    depends_on:
      - db
    tty: true
    stdin_open: true
    env_file:
      - ./rails/.env.development


  next:
    platform: linux/arm64/v8
    build:
      context: ./next
      dockerfile: Dockerfile
    tty: true
    stdin_open: true
    volumes:
      - ./next:/app
    ports:
      - "8000:3000"

volumes:
  mysql_data:
